<a href="https://colab.research.google.com/github/Bandansarker7/Foundation-of-Python/blob/main/PythonBasics/Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if 5<  7 :
  print("5 is less then 7!")

5 is less then 7!

In [ ]:
# it is mandatory to use the same number of spaces after a condition, otherwise the code will show an error.
if 5< 7 :
  print("5 is less then 7!")
  print('7 is greater then 5!')

5 is less then 7!
7 is greater then 5!

In [5]:
#print data type (Numeric) of variable.
X=5
Y=3.8
Z="MY name is Bandan"
print(type(X))
print(type(Y))
print(type(Z))

<class 'int'>
<class 'float'>
<class 'str'>